include _mixins
#add-list.Add-List-Editor
  form(hx-post="/lists", hx-target="#board")
    .List-Title-Edit
      input.List-Title-Textarea(type="text", maxlength="30", name="name", placeholder='Enter list title...' style='width: 245px; height: 17px;', autofocus="true")
    .Edit-Buttons
      button.Edit-Button(type="submit", tabindex='0' style='background-color: rgb(90, 172, 68);') Add list
      .Edit-Button-Cancel(tabindex='0')
        +icon-close()

