each list in lists
  .List(tabindex='0' aria-roledescription='Draggable item. Press space bar to lift' draggable='true')
    .List-Title #{list.name}
    .Lists-Cards
      each card in list.cards
        include _card
      include _toggle-add-card

.Add-List
  .Add-List-Button(hx-get="/lists/add", hx-swap="outerHTML")
    ion-icon.hydrated(name='add' role='img' aria-label='add')
    |  Add a list
