doctype html
html(lang="en")
  head
    title Trello in htmx
    link(href="/styles.css", rel="stylesheet")
  body
    .App
      .Header htmx Trello Clone
      #board.Board
        each list in lists
          .List(tabindex='0' aria-roledescription='Draggable item. Press space bar to lift' draggable='true')
            .List-Title #{list.name}
            .Lists-Cards.sortable
              each card in list.cards
                .Card(tabindex='0' aria-roledescription='Draggable item. Press space bar to lift' draggable='true') #{card.label}
              include _toggle-add-card

        .Add-List
          .Add-List-Button(hx-get="/lists/add", hx-swap="outerHTML")
            ion-icon.hydrated(name='add' role='img' aria-label='add')
            |  Add a list

  script(src="https://unpkg.com/htmx.org@1.3.1")
  script(src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js")
  script.
      htmx.onLoad(function(content) {
          var sortables = content.querySelectorAll(".sortable");
          for (var i = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            new Sortable(sortable, {
                animation: 150,
                group: 'shared',
                ghostClass: 'blue-background-class'
            });
          }
      })
